<!--

# Nurse practitioners
http://www.stmarksmc.nhs.uk/np_role.htm
http://www.charleshicksmedicalcentre.nhs.uk/nursing.shtml
http://www.moorlandssurgerydarlington.nhs.uk/nurse-practitioners,54940.htm
https://en.wikipedia.org/wiki/Nurse_practitioner

# Nurses
http://www.nhscareers.nhs.uk/explore-by-career/nursing/
-->


<h2>General Practitioners (GPs)</h2>

General practitioners are ...

<h2>Nurse Practitioners</h2>
<p>
  Nurse Practitioners are registered nurses who have received three years
  additional university education. They are qualified to diagnose medical
  problems, prescribe medications and make referrals to other healthcare
  professionals.
</p>

In a GP practice, a nurse practitioner typically deals with many types of
illness, such as:

<ul>
  <li>Sore throats and ongoing colds and coughs</li>
  <li>Chest infections</li>
  <li>Allergic reactions</li>
  <li>Childhood illness such as Mumps, Chicken Pox, Measles</li>
  <li>... many other minor illnesses</li>
</ul>

<h2>Nurses</h2>

<ul>
  <li>Blood pressure reviews</li>
  <li>Cervical smear tests</li>
  <li>Repeat contraception<li>
  <li>Travel advice and vaccinations</li>
</ul>

<h2>Healthcare Assistants</h2>
