{% extends 'templates/nhs_layout.html' %}

{% block pageTitle %}
Booking confirmation
{% endblock %}

{% block content %}
<main id="content" role="main">
<h2 class="heading-large">Your appointment is booked.</h2>

<p>You have a <strong>VIDEO</strong> appointment with Dr. L North at:</p>
<p>3pm, today (19th Ausgust 2015)</p>
<p>The doctor will <strong>FACE TIME</strong> you on <strong>07760 113768</strong>.
<p>Optionally, <a href="#">provide the doctor with more information</a>, so you can make the most of your time with the GP.</p>
</main>
{% endblock %}
