{% extends 'templates/nhs_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
        <div class="column-two-thirds">

<h2 class="heading-large">Choose an appointment</h2>

<p>Thank you for verifying your identity, <strong style="font-weight:
bold">Parnjit Bata</strong>. Choose an appointment at your GP, <strong
style="font-weight: bold">Solihull GP Surgery</strong>.</p>

<h3 class="heading-medium">Today, Wednesday 19th August</h3>

	<div class="form-group">
    	<input type="radio" id="1" name="appointment"> 
    	<label class="form-label form-control-radio" for="1">
    		2pm with Doctor West (face to face)
    	</label>
    	<input type="radio" id="2" name="appointment"> 
    	<label class="form-label form-control-radio" for="2">
      		3pm with Doctor North (face to face, video, phone)
    	</label>
</div>

<h3 class="heading-medium">Tomorrow, Thursday 20th August</h3>

  <div class="form-group">
    	<input type="radio" id="3" name="appointment"> 
    	<label class="form-label form-control-radio" for="3">
    		10am with Doctor South (video, phone)	
    	</label>
      </div>


<h3 class="heading-medium">Friday 21st August</h3>

  <div class="form-group">
    	<input type="radio" id="4" name="appointment"> 
    	<label class="form-label form-control-radio" for="4">
      		2pm with Doctor North (face to face, video, phone)
    	</label>
  </div>

	<a href="#">See more appointments</a>

	<p></p>

	<div class="form-group">
	    	<a class="button" href="choose-an-appointment-type">Next</a>
	    	<a href="">Cancel</a>
	   	</div>

	</div></div>
</main>

{% endblock %}
