{% extends 'templates/nhs_layout.html' %}

{% block pageTitle %}
	NHS.UK - Safe to fly information
{% endblock %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-xlarge">Is it safe to fly while pregnant?</h1>

<p>It's normally safe to fly while you're pregnant. However, some airlines will not let you fly towards the end of your pregnancy, so you should check what your airline's policy is.</p>
<h2 class="heading-medium">Blood clots (thrombosis)</h2>
<p>Long-distance travel (longer than five hours) carries an increased risk of blood clots (thrombosis), although it's not clear if the risk is higher if you're pregnant.</p>
<p>For most people, wearing correctly-fitted compression stockings can reduce the risk. If you're pregnant, wearing these stockings will reduce leg swelling. You can buy these over the counter in a pharmacy. You can also reduce the risk by drinking plenty of water and moving about regularly.</p>


<h2 class="heading-medium">When to travel</h2>
<p>Some women prefer not to travel in the first 12-15 weeks of pregnancy because of the exhaustion and nausea they experience at this early stage. The risk of miscarriage is also higher in this stage of pregnancy.</p>
<p>However, if you feel well and have discussed it with your GP, there's no reason why you can't travel during this time.</p>
<p>Most airlines will not allow you to travel after week 36 of pregnancy, or week 32 if you're pregnant with twins or multiples.</p>
<h2 class="heading-medium">Before you travel</h2>
<p>If you're planning on travelling by plane, you should discuss this with your midwife or GP. <br />
<br />
Before you book your tickets, check with your airline and insurance company that they will allow you to travel while pregnant. After week 28 of the pregnancy, most airlines require a letter from your midwife or GP confirming:</p>
<ul>
	<li>that you're in good health </li>
	<li>that you have a normal pregnancy </li>
	<li>the expected date of delivery </li>
</ul>
<p>Be aware that your GP may charge you for the letter. Your GP surgery can give you more information about what their charges are.</p>

<p><a href="verify-a" class="button button-get-started">Book an appointment to see a GP</a></p>

<p>If your details are already stored on your nhs.uk account, it's possible you may already have a safe to fly certificate. <a href="#">Log in</a> to access your information.</p>
<p>You may also be able to self-certify, meaning you can create your own safe to fly certificate. <a href="#">See if you are eligible to self-certify.</a></p>

<p>Some airlines may require medical clearance if:</p>
<ul>
	<li>your delivery date is less than four weeks after your departure date, or </li>
	<li>any complications are expected in your delivery </li>
</ul>
<p>This may involve your GP or midwife filling in a form or an assessment by the airline staff. Check with your airline, as the restrictions can vary.</p>
<h2 class="heading-medium">During your flight</h2>
<p>Below are some <a href="/chq/Pages/1953.aspx">tips to help you have a healthy and comfortable flight</a>:</p>
<ul>
	<li>Drink plenty of water to stay hydrated. </li>
	<li>Do calf exercises – most airlines provide information on these. </li>
	<li>Don't sit still for a long time – walk around the aircraft when possible. </li>
	<li>Wear loose, comfortable clothing.  </li>
	<li>Adjust your seatbelt so the strap lies below your bump. </li>
</ul>
<h2 class="heading-medium">Your destination</h2>
<p>If you're planning a trip abroad, you should think about your destination:</p>
<ul>
	<li>Could you get medical help if you needed it? See <a href="/NHSEngland/Healthcareabroad/Pages/Healthcareabroad.aspx">healthcare abroad</a> for more information.</li>
	<li>Do you need any vaccinations, and are these safe to have while you're pregnant? See <a href="/conditions/travel-immunisation/pages/introduction.aspx">travel vaccinations</a> for more information.  </li>
	<li>If you're travelling to Europe, make sure you have a <a href="/chq/Pages/1073.aspx">European Health Insurance Card (EHIC)</a>, which entitles you to free treatment while abroad. </li>
</ul>
<p>Read the answers to <a href="/chq/Pages/category.aspx?CategoryID=54">more questions about pregnancy</a>.</p>
<h2 class="heading-medium">Further information:</h2>
<ul>
	<li><a href="/chq/Pages/can-i-have-vaccinations-if-im-pregnant.aspx?CategoryID=70&amp;SubCategoryID=173">Can I have vaccinations if I'm pregnant? </a></li>
	<li><a href="/chq/Pages/933.aspx">Can I take my baby on an aeroplane?</a> </li>
	<li><a href="/chq/Pages/1953.aspx">How can I have a healthy and comfortable flight? </a></li>
	<li><a href="/conditions/Deep-vein-thrombosis/Pages/Introduction.aspx">Deep vein thrombosis </a></li>
	<li><a href="/NHSEngland/Healthcareabroad/plannedtreatment/Pages/Givingbirth.aspx">Giving birth outside the UK</a> </li>
	<li><a href="/conditions/pregnancy-and-baby/pages/travel-pregnant.aspx">Travel during pregnancy </a></li>
	<li><a href="/conditions/pregnancy-and-baby/pages/pregnancy-and-baby-care.aspx">Your pregnancy and baby guide</a> </li>
</ul>
</main>

{% endblock %}
