{% extends 'templates/nhs_layout.html' %}

{% block pageTitle %}
	NHS.UK - Safe to fly information
{% endblock %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-xlarge">Flying during pregnancy</h1>

<p>It's normally safe to fly while you're pregnant. However, some airlines will
ask for a letter from your GP before they'll let you fly.</p>

<p>Read about the
<a href="http://www.nhs.uk/chq/Pages/927.aspx?CategoryID=54">risks of flying
while you're pregnant</a></p>

<h2 class="heading-large">What you need to fly</h2>

<p>Before you book your tickets, check with your airline and insurance company
that they will allow you to travel while pregnant.</p>

<p>After week 28 of the pregnancy, most airlines require a certificate from
your midwife or GP confirming:</p>

<ul class="list-bullet">
	<li>that you're in good health </li>
	<li>that you have a normal pregnancy </li>
	<li>the expected date of delivery </li>
</ul>

<p>Some airlines may require medical clearance if:</p>

<ul class="list-bullet">
	<li>your delivery date is less than four weeks after your departure
	date, or </li>
	<li>any complications are expected in your delivery </li>
</ul>

<p>This may involve your GP or midwife filling in a form or an assessment by
the airline staff. Check with your airline, as the restrictions can vary.</p>

<p>WHY DO THE AIRLINES NEED THIS?</p>

<p>Most airlines will not allow you to travel after week 36 of pregnancy, or
week 32 if you're pregnant with twins or multiples.</p>

<h2 class="heading-large">How to get a certificate</h2>

<p>You may also be able to self-certify, meaning you can create your own safe
to fly certificate. <a href="#">Find out if you are eligible to
self-certify.</a></p>

<p>If you cannot self-certify, you will need to get a certificate from your GP.
You'll need an appointment to discuss your plans with your GP; it's normally
possible to do this via a phone or video appointment.</p>

<p>If your GP agrees, they will provide you with a certificate which can either
be on paper or electronic. Be aware that your GP may charge you for the letter.
Your GP surgery can give you more information about what their charges are.</p>

<p><a href="verify-a" class="button button-get-started">Book an appointment to
see your GP</a></p>

<h2 class="heading-large">Further information</h2>

<ul class="list-bullet">
	<li><a href="/chq/Pages/can-i-have-vaccinations-if-im-pregnant.aspx?CategoryID=70&amp;SubCategoryID=173">Can I have vaccinations if I'm pregnant? </a></li>
	<li><a href="/chq/Pages/933.aspx">Can I take my baby on an aeroplane?</a> </li>
	<li><a href="/chq/Pages/1953.aspx">How can I have a healthy and comfortable flight? </a></li>
	<li><a href="/conditions/Deep-vein-thrombosis/Pages/Introduction.aspx">Deep vein thrombosis </a></li>
	<li><a href="/NHSEngland/Healthcareabroad/plannedtreatment/Pages/Givingbirth.aspx">Giving birth outside the UK</a> </li>
	<li><a href="/conditions/pregnancy-and-baby/pages/travel-pregnant.aspx">Travel during pregnancy </a></li>
	<li><a href="/conditions/pregnancy-and-baby/pages/pregnancy-and-baby-care.aspx">Your pregnancy and baby guide</a> </li>
</ul>

</main>

{% endblock %}
